#search, #submit {
	font-size: 1.2em;
	height: 2.0em;
	margin: 5em 0;
}

#search {
	border-style: solid none solid solid;
	border-radius: 1.1em 0 0 1.1em;
	width: 20em;
	padding: 0 1em;
}

#submit {
	border-style: solid solid solid none;
	border-radius: 0 1.1em 1.1em 0;
	padding: 0 1.0em 0 0.5em;
	margin: 0 0 0 -0.4em;
}

input:focus {
  outline-width: 0;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: lightgrey;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
}